@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Literata";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url("../img/header/header-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.header .nav {
  margin: 60px auto 0;
  padding: 0 5px;
  max-width: 1000px;
  width: 100%;
}

.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.header .nav .nav__list .main-logo {
  display: inline-block;
  width: 280px;
  height: 155px;
  padding: 10px;
  position: relative;
  top: -50px;
}

.header .nav .nav__list .nav__link {
  padding: 0 2px;
  color: #000;
  text-decoration: none;
}

.header .nav .nav__list .nav__link .nav__item {
  display: inline-block;
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .nav .nav__list .nav__link .nav__item:hover {
  border-bottom: 2px solid #000;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.header .burger {
  display: none;
  padding: 20px 10px;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.header .burger .burger__item {
  display: block;
  width: 30px;
  height: 3px;
  font-size: 0;
  color: transparent;
  background-color: #000;
  position: relative;
}

.header .burger .burger__item::before, .header .burger .burger__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  z-index: 1;
}

.header .burger .burger__item::before {
  top: -8px;
}

.header .burger .burger__item::after {
  bottom: -8px;
}

.header .burger-logo {
  display: none;
}

.footer {
  height: 350px;
  background-color: #aeaeae;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}

.footer .footer__inner .main-logo {
  margin: auto;
}

.footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__text p {
  margin: 0 auto 10px;
}

.footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 180px;
}

.footer .footer__social .footer__link {
  margin-right: 3px;
  padding: 3px;
  color: #000;
}

.footer .social-icon-footer {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 2px solid #000;
  fill: currentColor;
}

.footer .social-icon-footer:hover {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 900px) {
  .header .nav .nav__list .main-logo {
    width: 200px;
    height: 125px;
    padding: 0;
    position: relative;
    top: -35px;
  }
}

@media (max-width: 749px) {
  .header {
    height: 350px;
  }
  .header .nav {
    display: none;
  }
  .header .burger {
    display: block;
  }
  .header .burger-logo {
    display: block;
    width: 200px;
    height: 125px;
    padding: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 415px) {
  .header {
    height: 250px;
  }
}

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  width: 100%;
  height: 100px;
  margin: auto;
  border: 10px solid #000;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.title__wrapper .section__title {
  margin: auto;
  padding: 27px 50px;
  cursor: default;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 395px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon .social-item {
  max-width: 32px;
  max-height: 33px;
  color: #000;
  fill: currentColor;
}

.social-icon .social-item:hover {
  color: #3ac9e8;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.nav__item.active {
  border-bottom: 2px solid #000;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__inner .about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-image: url("../img/about/about-inner/about.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.about__inner .about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inner .about__right:before {
  content: url("../img/about/about-inner/about-logo.png");
  position: relative;
  top: 32px;
  left: 0;
}

.about__inner .about__right .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 43px 0;
  padding: 0 10px;
  font-size: 16px;
}

.about__studio {
  width: 100%;
}

.about__studio .grid-container {
  display: -ms-grid;
  display: grid;
}

.about__studio .grid-container .grid-item {
  position: relative;
}

.about__studio .grid-container .grid-item:hover .grid-img {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about__studio .grid-container .grid-item:hover .grid-zoom {
  visibility: visible;
}

.about__studio .grid-container .grid-item .grid-zoom {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.about__studio .grid-container .grid-item .grid-img {
  display: block;
  width: 100%;
}

.about__studio .grid-container {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  background-image: url("../img/testimonials/testimonials-bg.jpg");
  background-size: cover;
  position: relative;
}

.testimonials .testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

.testimonials .testimonials-container .testimonials-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  max-width: 900px;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: auto;
  width: 100%;
  padding: 0 70px;
  color: #f2efe5;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text {
  margin-top: 155px;
  position: relative;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text::before {
  content: url("../img/testimonials/“.png");
  position: absolute;
  left: -54px;
  top: -42px;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text::after {
  content: url("../img/testimonials/hhh.png");
  position: absolute;
  right: -52px;
  bottom: -45px;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-name {
  margin: 65px 0 49px 0;
  text-align: right;
}

.testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-name::before, .testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-name::after {
  content: " - ";
}

.testimonials .testimonials-container .testimonials-btn {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.testimonials .testimonials-container .testimonials-btn .btn {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background: #fff;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.testimonials .testimonials-container .testimonials-btn .btn:hover {
  opacity: 0.8;
}

.testimonials .testimonials-container .testimonials-btn .btn::before, .testimonials .testimonials-container .testimonials-btn .btn::after {
  content: "";
  width: 30%;
  height: 10%;
  margin: auto;
  background: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
}

.testimonials .testimonials-container .testimonials-btn .btn::before {
  left: 15%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.testimonials .testimonials-container .testimonials-btn .btn:disabled {
  background: #9b977a;
  cursor: default;
}

.testimonials .testimonials-container .testimonials-btn .btn-prev {
  margin-right: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.testimonials .testimonials-container .testimonials-btn .btn-next {
  margin-left: 5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-height: 1000px;
}

.team .team__wrapper {
  margin: auto;
}

.team .team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/team/bg-title.jpg");
  background-size: cover;
}

.team .team__img {
  width: 100%;
  height: 100%;
}

.team .team__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.team .team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ccc8b6;
}

.team .team__info .team__name {
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.team .team__info .team__text {
  max-width: 418px;
  padding: 0 10px;
  margin-bottom: 54px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.team .team__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.team .team__newsletter .team__form {
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
}

.team .team__newsletter .team__form .form-text {
  margin-bottom: 42px;
  text-transform: uppercase;
  font-size: 12px;
}

.team .team__newsletter .team__form .form-text span {
  font-weight: bold;
  font-size: 14px;
}

.team .team__newsletter .team__form .form-email {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 16px 0 16px 20px;
  margin-bottom: 22px;
  border: 1px solid #000;
}

.team .team__newsletter .team__form .form-button {
  max-width: 300px;
  width: 100%;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  background-color: #9a977a;
  border: none;
  cursor: pointer;
}

.team .team__newsletter .team__form .form-button:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-image: url("../img/twitter/twitter-bg.jpg");
  background-size: cover;
}

.twitter .twitter__item {
  max-width: 907px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.twitter .twitter__item .twitter__logo {
  text-align: center;
  margin: 100px 0 30px 0;
}

.twitter .twitter__item .twitter__text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  line-height: 22px;
  color: #f2efe5;
  margin-bottom: 118px;
}

.gallery {
  width: 100%;
}

.gallery .grid-container {
  display: -ms-grid;
  display: grid;
}

.gallery .grid-container .grid-item {
  position: relative;
}

.gallery .grid-container .grid-item:hover .grid-img {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gallery .grid-container .grid-item:hover .grid-zoom {
  visibility: visible;
}

.gallery .grid-container .grid-item .grid-zoom {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.gallery .grid-container .grid-item .grid-img {
  display: block;
  width: 100%;
}

.gallery .grid-container {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.gallery .grid-container .grid-item.grid-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background-color: #afac9c;
}

.gallery .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #afac9b;
}

.gallery .button-wrapper .gallery-button {
  margin: 50px auto;
  max-width: 300px;
  width: 100%;
  height: 40px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #9a977a;
  border: none;
  cursor: pointer;
}

.gallery .button-wrapper .gallery-button:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e7e5d0;
}

.contact .contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 180px 167px 165px 165px;
  margin: auto;
}

.contact .contact__inner .contact__info {
  width: 50%;
  padding-right: 10px;
}

.contact .contact__inner .contact__info .contact__text {
  max-width: 489px;
  margin: 75px auto 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
}

.contact .contact__inner .contact__info .contact__communication {
  margin-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact__inner .contact__info .contact__communication .communication-item {
  width: 50%;
  max-height: 130px;
  margin-right: 45px;
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
}

.contact .contact__inner .contact__info .contact__communication .communication-item h3 {
  font-size: 16px;
}

.contact .contact__inner .contact__info .social-icon {
  margin: 110px auto 0;
}

.contact .contact__inner .contact__form {
  width: 50%;
  padding-left: 10px;
}

.contact .contact__inner .contact__form .contact__item {
  display: block;
  padding: 16px 0 16px 20px;
  border: solid 2px #000;
  background-color: #e7e5d0;
}

.contact .contact__inner .contact__form .contact__item:focus {
  -webkit-box-shadow: inset 0 0 3px 0 #000;
          box-shadow: inset 0 0 3px 0 #000;
}

.contact .contact__inner .contact__form input {
  height: 60px;
  margin-bottom: 60px;
  max-width: 470px;
  width: 100%;
}

.contact .contact__inner .contact__form textarea {
  margin-bottom: 40px;
  max-width: 470px;
  width: 100%;
}

.contact .contact__inner .contact__form .contact__btn {
  max-width: 370px;
  width: 100%;
  height: 60px;
  color: #fff;
  text-transform: uppercase;
  background-color: #9a977a;
  border: none;
  cursor: pointer;
}

.contact .contact__inner .contact__form .contact__btn:hover {
  opacity: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.map {
  width: 100%;
  height: 800px;
}

.map .map__google {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .title__wrapper {
    -webkit-animation: none;
            animation: none;
  }
  .about__studio .grid-container {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .testimonials .testimonials-container .testimonials-track {
    max-width: 650px;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .testimonials-wrapper .testimonials-text::before {
    left: 0;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .testimonials-wrapper .testimonials-text::after {
    right: 0;
  }
  .team {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .team .team__item .team__info .team__wrapper .social-icon {
    padding-bottom: 25px;
  }
  .team #team-title {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
  }
  .team #team-newsletter {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 3;
  }
  .team #team-men-1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
  }
  .team #team-text-1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .team #team-men-2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
  }
  .team #team-text-2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .contact .contact__inner {
    padding: 100px 50px;
  }
  .contact .contact__inner .contact__info .social-icon {
    margin: 100px auto 0;
  }
  .map {
    height: 500px;
  }
}

@media (max-width: 650px) {
  .about__inner {
    display: block;
  }
  .about__inner .about__left {
    width: 100%;
    min-height: 300px;
  }
  .about__inner .about__right {
    width: 100%;
  }
  .about__studio .grid-container {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .testimonials .testimonials-container .testimonials-track {
    max-width: 420px;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item {
    padding: 10px;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text {
    margin-top: 90px;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text::before {
    left: 0;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-text::after {
    right: 0;
  }
  .testimonials .testimonials-container .testimonials-track .testimonials-item .item-wrapper .testimonials-name {
    margin: 55px 0 20px 0;
  }
  .team {
    min-height: 300px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .team #team-title {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
  }
  .team #team-men-1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
  }
  .team #team-text-1 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
  }
  .team #team-men-2 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
  }
  .team #team-text-2 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 1;
  }
  .team #team-newsletter {
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 1;
  }
  .twitter .twitter__item .twitter__logo {
    margin: 50px 0 15px 0;
  }
  .twitter .twitter__item .twitter__text {
    margin-bottom: 60px;
  }
  .contact .contact__inner {
    display: block;
    padding: 90px 84px 83px 83px;
  }
  .contact .contact__inner .contact__info {
    width: 100%;
  }
  .contact .contact__inner .contact__info .social-icon {
    margin: 110px auto 50px;
  }
  .contact .contact__inner .contact__form {
    display: block;
    width: 100%;
  }
  .contact .contact__inner .contact__form .contact__item {
    display: block;
  }
}

@media (max-width: 415px) {
  .title__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 180px;
    width: 100%;
    max-height: 85px;
    height: 100%;
    border: 5px solid #000;
  }
  .title__wrapper .section__title {
    font-size: 20px;
    padding: 14px 25px;
  }
  .social-icon .social-item {
    max-width: 25px;
    max-height: 26px;
  }
  .about__inner {
    display: block;
  }
  .about__inner .about__left {
    width: 100%;
    min-height: 200px;
  }
  .about__inner .about__right {
    width: 100%;
  }
  .testimonials .testimonials-container .testimonials-track {
    padding: 0;
    max-width: 350px;
  }
  .twitter .twitter__item .twitter__text {
    font-size: 16px;
  }
  .contact .contact__inner {
    display: block;
    padding: 50px 42px 42px 42px;
  }
  .contact .contact__inner .contact__info {
    width: 100%;
  }
  .contact .contact__inner .contact__info .social-icon {
    margin: 110px auto 50px;
  }
  .contact .contact__inner .contact__form {
    display: block;
    width: 100%;
  }
  .contact .contact__inner .contact__form .contact__item {
    display: block;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonials-container .testimonials-track {
    padding: 0;
    max-width: 300px;
  }
}
/*# sourceMappingURL=main-page.css.map */