@import 'common';

// title
.section__title {
   max-width: 250px;
   margin: auto;
   padding: 27px 50px;

   border: 10px solid #000;

   animation-name: scale;
   animation-duration: 3s;
   animation-direction: alternate;
   animation-iteration-count: infinite;

   cursor: default;
}

// animation
@keyframes scale {
   0% {
      transform: scale(1.0);
      ;
   }

   100% {
      transform: scale(1.2);
   }
}

// about
.about__inner {
   display: flex;
   width: 100%;

   .about__left {
      display: flex;
      width: 50%;

      background-image: url("../img/about/about-inner/about.jpg");
      background-size: cover;
      background-position: 50% 50%;

      .title__wrapper {
         margin: auto;
      }
   }

   .about__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 50%;

      align-items: center;

      &:before {
         content: url("../img/about/about-inner/about-logo.png");

         position: relative;
         top: 32px;
         left: 0;
      }

      .about__text {
         display: flex;
         max-width: 600px;
         flex-wrap: wrap;
         margin: 43px 0;
         padding: 0 10px;

         font-size: 16px;
      }
   }
}

.about__studio {
   width: 100%;

   .studio-row {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;

      .studio-cell {
         width: 100%;

         position: relative;

         &:hover .studio-img {
            opacity: 0.6;

            transition: 0.2s;
         }

         &:hover .studio-zoom {
            visibility: visible;
         }

         .studio-img {
            display: block;
            width: 100%;
         }

         .studio-zoom {
            display: inline-block;

            visibility: hidden;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
         }
      }
   }
}

// testimonials
.testimonials {
   display: flex;
   width: 100%;

   background-image: url("../img/testimonials/testimonials-bg.jpg");
   background-size: cover;

   .testimonials__item {
      width: 743px;
      margin: auto;

      color: #f2efe5;
      font-family: 'Times New Roman', Times, serif;
      font-size: 24px;
      font-style: italic;
      font-weight: bold;
      text-align: center;

      .testimonials__text {
         margin-top: 157px;
      }

      .testimonials__name {
         margin: 67px 0 51px 0;
         text-align: right;

         &::before {
            content: " - ";
         }

         &::after {
            content: " - ";

         }
      }
   }
}

// team
.team {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   width: 100%;
   min-height: 1000px;

   .team__wrapper {
      margin: auto;
   }

   .team__title {
      display: flex;
      width: 100%;
      height: 100%;

      background-image: url("../img/team/bg-title.jpg");
      background-size: contain;
   }

   .team__img {
      width: 100%;
      height: 100%;

      img {
         display: block;
         width: 100%;
         height: 100%;
      }
   }

   .team__info {
      display: flex;
      width: 100%;
      height: 100%;

      background-color: #ccc8b6;

      .team__name {
         margin-bottom: 30px;

         font-family: 'Times New Roman', Times, serif;
         text-align: center;
         font-size: 24px;
         font-weight: bold;
         text-transform: uppercase;
      }

      .team__text {
         max-width: 418px;
         padding: 0 10px;
         margin-bottom: 54px;

         font-family: 'Open Sans', sans-serif;
         font-size: 14px;
      }

      .team__social {
         display: flex;
         justify-content: space-between;
         max-width: 395px;
         margin: auto;

         align-items: center;
         
         .team__social__item {
            max-width: 32px;
            max-height: 33px;
         }
      }
   }
   
   .team__newsletter {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px;

      .team__form {
         margin: auto;

         font-family: 'Times New Roman', Times, serif;

         .form-text {
            margin-bottom: 42px;

            text-transform: uppercase;
            font-size: 12px;
            
            span {
               font-weight: bold;
               font-size: 14px;
            }
         }
         
         .form-email {
            display: block;
            width: 300px;
            height: 40px;
            padding: 16px 0 16px 20px;
            margin-bottom: 22px;

            border: 1px solid #000;
         }

         .form__button {
            width: 301px;
            height: 40px;

            color: #fff;
            text-transform: uppercase;

            background-color: #9a977a;
            border: none;

            cursor: pointer;
            &:hover {
               opacity: 0.6;

               transition: 0.2s;
            }
         }
      }
   }
}

// twitter
.twitter {
   display: flex;
   width: 100%;

   background-image: url("../img/twitter/twitter-bg.jpg");
   background-size: cover;

   .twitter__item {
      width: 907px;
      margin: auto;

      .twitter__logo {
         text-align: center;

         margin: 107px 0 32px 0;
      }

      .twitter__text {
         font-family: 'Times New Roman', Times, serif;
         font-size: 22px;
         font-weight: bold;
         font-style: italic;
         line-height: 22px;
         color: #f2efe5;

         margin-bottom: 119px;
      }
   }
}
