*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1519px;
  font-family: 'Literata', serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.header .main-logo {
  display: inline-block;
  width: 260px;
  height: 135px;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0;
  max-width: 950px;
  width: 100%;
  position: relative;
}

.header .nav .nav__list {
  display: inline-block;
  padding: 0;
  list-style: none;
}

.header .nav .nav__list .nav__link {
  color: #000;
  text-decoration: none;
}

.header .nav .nav__list .nav__link .nav__item {
  display: inline-block;
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .nav .nav__list .nav__link .nav__item:hover {
  border-bottom: 2px solid #000;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.header .nav .nav__list-left li {
  margin-right: 28px;
}

.header .nav .nav__list-right li {
  margin-left: 28px;
}

.footer {
  height: 350px;
  background-color: #aeaeae;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}

.footer .footer__inner .main-logo {
  margin: auto;
}

.footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__text p {
  margin: 0 auto 10px;
}

.footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 180px;
}

.footer .footer__social .footer__link {
  margin-right: 3px;
  padding: 3px;
  color: #000;
}

.footer .social-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 2px solid #000;
  fill: currentColor;
}

.footer .social-icon:hover {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section__title {
  margin: auto;
  padding: 27px 50px;
  border: 10px solid #000;
}

.section__title:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
}

.about .about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-image: url(../img/about/about.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.about .about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.about .about__right:before {
  content: url(../img/about/about-logo.png);
}

.about .about__right .about__text {
  width: 600px;
}

.about .about__right .about__text:last-child {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main-page.css.map */