*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Literata";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url("../img/header/header-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.header .main-logo {
  display: inline-block;
  width: 260px;
  height: 135px;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px auto 0;
  max-width: 950px;
  width: 100%;
  position: relative;
}

.header .nav .nav__list {
  display: inline-block;
  padding: 0;
  list-style: none;
}

.header .nav .nav__list .nav__link {
  color: #000;
  text-decoration: none;
}

.header .nav .nav__list .nav__link .nav__item {
  display: inline-block;
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .nav .nav__list .nav__link .nav__item:hover {
  border-bottom: 2px solid #000;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.header .nav .nav__list-left li {
  margin-right: 28px;
}

.header .nav .nav__list-right li {
  margin-left: 28px;
}

.footer {
  height: 350px;
  background-color: #aeaeae;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}

.footer .footer__inner .main-logo {
  margin: auto;
}

.footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__text p {
  margin: 0 auto 10px;
}

.footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 180px;
}

.footer .footer__social .footer__link {
  margin-right: 3px;
  padding: 3px;
  color: #000;
}

.footer .social-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 2px solid #000;
  fill: currentColor;
}

.footer .social-icon:hover {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section__title {
  margin: auto;
  padding: 27px 50px;
  border: 10px solid #000;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__inner .about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background-image: url("../img/about/about-inner/about.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.about__inner .about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.about__inner .about__right:before {
  content: url("../img/about/about-inner/about-logo.png");
  position: relative;
  top: 32px;
  left: 0;
}

.about__inner .about__right .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 42px 0;
  padding: 0 10px;
  font-size: 16px;
}

.about__studio {
  width: 100%;
}

.about__studio .studio-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__studio .studio-row .studio-cell {
  width: 100%;
  position: relative;
}

.about__studio .studio-row .studio-cell:hover .studio-img {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about__studio .studio-row .studio-cell:hover .studio-zoom {
  visibility: visible;
}

.about__studio .studio-row .studio-cell .studio-img {
  display: block;
  width: 100%;
}

.about__studio .studio-row .studio-cell .studio-zoom {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  width: 100%;
  background-image: url("../img/testimonials/testimonials-bg.jpg");
  background-size: cover;
  position: relative;
}

.testimonials .testimonials__item {
  width: 870px;
  margin: auto;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.testimonials .testimonials__item .testimonials__name {
  position: absolute;
  bottom: 5%;
  right: 25%;
}

.testimonials .testimonials__item .testimonials__name::before {
  content: " - ";
}

.testimonials .testimonials__item .testimonials__name::after {
  content: " - ";
}
/*# sourceMappingURL=main-page.css.map */