@import 'common';

// title
.section__title {
   max-width: 250px;
   width: 100%;
   margin: auto;
   padding: 27px 50px;

   border: 10px solid #000;

   animation-name: scale;
   animation-duration: 3s;
   animation-direction: alternate;
   animation-iteration-count: infinite;

   cursor: default;
}

// social-icon
.social-icon {
   display: flex;
   justify-content: space-between;
   max-width: 395px;
   margin: auto;

   align-items: center;

   .social-item {
      max-width: 32px;
      max-height: 33px;
      color: #000;

      fill: currentColor;

      &:hover {
         color: #3ac9e8;
      }
   }
}

// mixin
@mixin grid {

   .grid-container {
      display: grid;

      .grid-item {
         position: relative;

         &:hover .grid-img {
            opacity: 0.6;

            transition: 0.2s;
         }

         &:hover .grid-zoom {
            visibility: visible;
         }

         .grid-zoom {
            display: inline-block;

            visibility: hidden;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
         }

         .grid-img {
            display: block;
            width: 100%;
         }
      }
   }
}

// animation
@keyframes scale {
   0% {
      transform: scale(1.0);
      ;
   }

   100% {
      transform: scale(1.2);
   }
}

// header
.nav__item.active {
   border-bottom: 2px solid #000;
}

// about
.about__inner {
   display: flex;
   width: 100%;

   .about__left {
      display: flex;
      width: 50%;

      background-image: url("../img/about/about-inner/about.jpg");
      background-size: cover;
      background-position: 50% 50%;

      .title__wrapper {
         margin: auto;
      }
   }

   .about__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 50%;

      align-items: center;

      &:before {
         content: url("../img/about/about-inner/about-logo.png");

         position: relative;
         top: 32px;
         left: 0;
      }

      .about__text {
         display: flex;
         max-width: 600px;
         flex-wrap: wrap;
         margin: 43px 0;
         padding: 0 10px;

         font-size: 16px;
      }
   }
}

.about__studio {
   @include grid;
   width: 100%;

   .grid-container {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   }
}

// testimonials
.testimonials {
   display: flex;
   width: 100%;

   background-image: url("../img/testimonials/testimonials-bg.jpg");
   background-size: cover;

   .testimonials__item {
      max-width: 743px;
      margin: auto;

      color: #f2efe5;
      font-family: 'Times New Roman', Times, serif;
      font-size: 24px;
      font-style: italic;
      font-weight: bold;
      text-align: center;

      .testimonials__text {
         margin-top: 155px;
         position: relative;

         &::before {
            content: url("../img/testimonials/“.png");

            position: absolute;
            left: -7%;
            top: -67%;
         }

         &::after {
            content: url("../img/testimonials/hhh.png");

            position: absolute;
            right: -7%;
            top: 90%;
         }
      }

      .testimonials__name {
         margin: 65px 0 49px 0;
         text-align: right;

         &::before {
            content: " - ";
         }

         &::after {
            content: " - ";

         }
      }
   }
}

// team
.team {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   width: 100%;
   min-height: 1000px;

   .team__wrapper {
      margin: auto;
   }

   .team__title {
      display: flex;
      width: 100%;
      height: 100%;

      background-image: url("../img/team/bg-title.jpg");
      background-size: cover;
   }

   .team__img {
      width: 100%;
      height: 100%;

      img {
         display: block;
         width: 100%;
         height: 100%;
      }
   }

   .team__info {
      display: flex;
      width: 100%;
      height: 100%;

      background-color: #ccc8b6;

      .team__name {
         margin-bottom: 30px;

         font-family: 'Times New Roman', Times, serif;
         text-align: center;
         font-size: 24px;
         font-weight: bold;
         text-transform: uppercase;
      }

      .team__text {
         max-width: 418px;
         padding: 0 10px;
         margin-bottom: 54px;

         font-family: 'Open Sans', sans-serif;
         font-size: 14px;
      }
   }

   .team__newsletter {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px;

      .team__form {
         margin: auto;

         font-family: 'Times New Roman', Times, serif;

         .form-text {
            margin-bottom: 42px;

            text-transform: uppercase;
            font-size: 12px;

            span {
               font-weight: bold;
               font-size: 14px;
            }
         }

         .form-email {
            display: block;
            width: 300px;
            height: 40px;
            padding: 16px 0 16px 20px;
            margin-bottom: 22px;

            border: 1px solid #000;
         }

         .form__button {
            width: 301px;
            height: 40px;

            color: #fff;
            text-transform: uppercase;

            background-color: #9a977a;
            border: none;

            cursor: pointer;

            &:hover {
               opacity: 0.6;

               transition: 0.2s;
            }
         }
      }
   }
}

// twitter
.twitter {
   display: flex;
   width: 100%;

   background-image: url("../img/twitter/twitter-bg.jpg");
   background-size: cover;

   .twitter__item {
      width: 907px;
      margin: auto;
      padding: 0 10px;

      .twitter__logo {
         text-align: center;

         margin: 100px 0 30px 0;
      }

      .twitter__text {
         font-family: 'Times New Roman', Times, serif;
         font-size: 22px;
         font-weight: bold;
         font-style: italic;
         line-height: 22px;
         color: #f2efe5;

         margin-bottom: 118px;
      }
   }
}

// gallery
.gallery {
   @include grid;
   width: 100%;

   .grid-container {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .grid-item.grid-item-title {
         display: flex;
         grid-column-start: 1;
         grid-column-end: 3;

         background-color: #afac9c;

         .gallery__title {
            margin: auto;
         }
      }
   }
}

// contact
.contact {
   display: flex;
   width: 100%;

   background-color: #e7e5d0;

   .contact__inner {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 180px 167px 165px 165px;
      margin: auto;

      .contact__info {
         width: 50%;
         padding-right: 5px;

         .contact__title {
            margin: 0 auto;
         }

         .contact__text {
            max-width: 489px;
            margin: 75px auto 0;

            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
            text-align: center;
         }

         .contact__communication {
            margin-top: 69px;
            display: flex;
            justify-content: space-between;

            .communication-item {
               width: 50%;
               max-height: 130px;
               margin-right: 45px;
               padding: 0;
               align-items: flex-start;

               font-weight: bold;

               h3 {
                  font-size: 16px;
               }
            }
         }

         .social-icon {
            margin: 110px auto 0;
         }
      }

      .contact__form {
         width: 50%;
         padding-left: 5px;

         .contact__item {
            display: block;
            padding: 16px 0 16px 20px;

            border: solid 2px #000;
            background-color: #e7e5d0;

            &:focus {
               box-shadow: inset 0 0 3px 0 #000;
            }
         }

         input {
            height: 60px;
            margin-bottom: 60px;
            max-width: 470px;
            width: 100%;
         }

         textarea {
            margin-bottom: 40px;
            max-width: 470px;
            width: 100%;
         }

         .contact__btn {
            max-width: 370px;
            width: 100%;
            height: 60px;

            color: #fff;
            text-transform: uppercase;
            background-color: #9a977a;
            border: none;

            cursor: pointer;

            &:hover {
               opacity: 50%;

               transition: 0.2s;
            }
         }
      }
   }
}


// map
.map {
   width: 100%;
   height: 800px;

   .map__google {
      width: 100%;
      height: 100%;
   }
}

// media
@media (max-width: 970px) {

   // section-title
   .section__title {
      animation: none;
   }

   // about
   .about__studio {

      .grid-container {
         grid-template-rows: 1fr 1fr 1fr;
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }

   // testimonials 
   .testimonials {
      
      .testimonials__item {
         
         .testimonials__text {
      
            &::before {
               left: -3%;
               top: -90%;
            }
      
            &::after {
               left: 93%;
            }
         }
      }
   }

   // team
   .team {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      #team-title {
         grid-row-start: 1;
         grid-column-start: 1;
         grid-row-end: 1;
         grid-column-end: 1;
      }

      #team-newsletter {
         grid-row-start: 1;
         grid-column-start: 2;
         grid-row-end: 1;
         grid-column-end: 3;
      }

      #team-men-1 {
         grid-row-start: 2;
         grid-column-start: 1;
         grid-row-end: 2;
         grid-column-end: 1;
      }

      #team-text-1 {
         grid-row-start: 2;
         grid-column-start: 2;
         grid-row-end: 2;
         grid-column-end: 2;
      }

      #team-men-2 {
         grid-row-start: 3;
         grid-column-start: 1;
         grid-row-end: 3;
         grid-column-end: 1;
      }

      #team-text-2 {
         grid-row-start: 3;
         grid-column-start: 2;
         grid-row-end: 3;
         grid-column-end: 2;
      }
   }

   // gallery
   .gallery {

      .grid-container {
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }

   // contact
   .contact {
      .contact__inner {
         padding: 100px 50px;

         .contact__info {
            
            .social-icon {
               margin: 100px auto 0;
            }
         }
      }
   }
   // map
   .map {
      height: 500px;
   }
}